<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trang Admin Quản Lý</title>
    <link rel="shortcut icon" href="User_KH/images/logo-KTT1.ico" type="image/x-icon">

    <!-- Custom fonts for this template-->
    <link href="User_Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="User_Admin/css/sb-admin-2.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .pagination-container {
          display: flex;
          justify-content: center;
          margin-top: 50px;
        }
      
        .pagination {
          list-style: none;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      
        .page-item {
          /* margin: 0 5px; Khoảng cách giữa các trang */
        }
      </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("../User_Admin/partials_admin/sidebar_navbar.ejs") %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include("../User_Admin/partials_admin/header_navbar.ejs") %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Thêm sản phẩm</h1>
                        
                    </div>
                
                    <!-- Content Row -->
                    <div class="row">
                        <div class="container">
                              
                            <form action="/create-sp" method="post" enctype="multipart/form-data" id="themsp-form">       
                                
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th style="width: 200px; text-align: center; vertical-align: middle; color: rgb(9, 2, 44);">Thuộc Tính</th>
                                            <th style="color: rgb(9, 2, 44);  text-align: center;">Giá Trị</th>
                                            
                                        </tr>
                                    </thead>

                                    <tbody>                                        
                                        <tr>
                                            <td>
                                                <label style="font-size: 20px;" class="color-label" for="tenSP">Tên Sản Phẩm: </label>
                                            </td>
                                            <td>
                                                <input
                                                    required
                                                    style="width: 550px; "
                                                    name="TenSP" 
                                                    id="tenSP" 
                                                    type="text" 
                                                    
                                                />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label style="font-size: 20px;"  class="color-label" for="giaSP">Giá Sản Phẩm: </label>
                                            </td>
                                            <td>
                                                <input  
                                                    required   
                                                    style="width: 300px;"                                                 
                                                    name="GiaBan" 
                                                    id="giaSP" 
                                                    type="text" 
                                                    
                                                />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label style="font-size: 20px;"  class="color-label" for="giacuSP">Giá Cũ Sản Phẩm: </label>
                                            </td>
                                            <td>
                                                <input   
                                                    required   
                                                    style="width: 300px;"                                                
                                                    name="GiaCu" 
                                                    id="giacuSP" 
                                                    type="text" 
                                                   
                                                />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label style="font-size: 20px;"  class="color-label" for="salenew">Sale New Hot: </label>
                                            </td>
                                            <td>                                                
                                                <select id="salenew" name="Sale_New" class="form-select" aria-label="Default select example" style="width: 150px; font-size: 20px;">
                                                    <option>Sale</option>
                                                    <option>New</option>
                                                    <option>Hot</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label style="font-size: 20px;"  class="color-label" for="hinhanh">Hình Ảnh: </label>
                                            </td>
                                            <td>
                                                <input   
                                                    required                                       
                                                    name="Image" 
                                                    id="hinhanh" 
                                                    type="file"                                                    
                                                />

                                            </td>
                                        </tr>                                        

                                        <tr>
                                            <td>
                                                <label style="font-size: 20px;"  class="color-label" for="IdLoaiSP">Loại Sản Phẩm: </label>
                                            </td>
                                            <td>
                                                <select id="IdLoaiSP" name="IdLoaiSP" class="form-select" aria-label="Default select example" style="width: 150px; font-size: 20px;">
                                                    <option value="1">
                                                        Hãy chọn loại sản phẩm
                                                    </option>
                                                    <% TenSp.forEach(function(tensp) { %> 
                                                    <option value="<%= tensp.TenLoaiSP %>"><%= tensp.TenLoaiSP %></option>
                                                    <% }); %>
                                                </select>
                                                                                                
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label style="font-size: 20px;"  class="color-label" for="SoLuongTon">Số Lượng Tồn: </label>
                                            </td>
                                            <td>
                                                <input   
                                                    required
                                                    style="width: 150px; "                                                
                                                    name="SoLuongTon" 
                                                    id="SoLuongTon" 
                                                    type="text" 
                                                   
                                                />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label style="font-size: 20px;"  class="color-label" for="SoLuongBan">Số Lần Bán: </label>
                                            </td>
                                            <td>
                                                <input   
                                                    required
                                                    style="width: 150px; "                                               
                                                    name="SoLuongBan" 
                                                    id="SoLuongBan" 
                                                    type="text" 
                                                    
                                                />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label style="font-size: 20px;"  class="color-label" for="SoLuotDanhGia">Số Lượt Đánh Giá: </label>
                                            </td>
                                            <td>
                                                <input   
                                                    required
                                                    style="width: 150px; "                                               
                                                    name="SoLuotDanhGia" 
                                                    id="SoLuotDanhGia" 
                                                    type="text" 
                                                    
                                                />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label style="font-size: 20px;"  class="color-label" for="mota">Mô Tả: </label>
                                            </td>
                                            <td>                                                
                                                <textarea 
                                                    id="mota" 
                                                    name="MoTa" 
                                                    style="width: 700px; height: 200px;"> </textarea>
                                            </td>
                                        </tr>

                                     
                                    </tbody>
                                </table>
                                <a 
                                    style="font-size: 22px; width: 100px; height: 50px; font-weight: bold; " 
                                    href="/home-qlsp"
                                    class="btn btn-dark" >Trở Về </a>

                                <button 
                                    style="font-size: 22px; width: 300px; height: 50px; font-weight: bold; padding: 10px;" 
                                    class="btn btn-primary">THÊM MỚI SẢN PHẨM</button>                               
                            </form>
                            
                          </div>
                        
                    </div>
                
                    <!-- Content Row -->
                
                    <!-- body -->
                                       
                </div>
                <!-- /.container-fluid -->
                                    
                               
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn đăng xuất không?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn nút "Đăng Xuất" để xác nhận đăng xuất tài khoản.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <a class="btn btn-primary" href="/dang-xuat-admin">Đăng Xuất</a>
                </div>
            </div>
        </div>
    </div>

    

    <!-- Bootstrap core JavaScript-->
    <script src="User_Admin/vendor/jquery/jquery.min.js"></script>
    <script src="User_Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="User_Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="User_Admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="User_Admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="User_Admin/js/demo/chart-area-demo.js"></script>
    <script src="User_Admin/js/demo/chart-pie-demo.js"></script>

    <script>
        function getRelativeImagePath(absolutePath) {
                const rootPath = '<%= rootPath.replace(/\\/g, "\\\\") %>';
                const relativePath = absolutePath ? absolutePath.replace(rootPath, '').replace(/\\/g, '/').replace(/^\/?images\/upload\//, '') : '';
                return relativePath;
            }
    
    
        function formatCurrency(amount) {
            return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);
        }
    </script>

</body>

</html>